@model Administrativo.Models.Administrador

@{
    ViewData["Title"] = $"Administrador - {Model.Nome}";
}

<h2>Administrador - @Model.Nome</h2>

<div class="card mb-3">
    <div class="card-header">
        <span><b>Deseja realmente excluir o Administrador @Model.Nome?</b></span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <tbody>
                    <tr>
                        <td width="15%" align="right">Nome: </td>
                        <td colspan="3">@Model.Nome</td>
                    </tr>
                    <tr>
                        <td width="15%" align="right">E-mail: </td>
                        <td colspan="3">@Model.Email</td>
                    </tr>
                    <tr>
                        <td width="15%" align="right">Login: </td>
                        <td colspan="3">@Model.Login</td>
                    </tr>
                    <tr>
                        <td width="15%" align="right">Cadastrado por: </td>
                        <td>@Model.IncPor.Nome</td>
                        <td width="15%" align="right">Cadastrado em: </td>
                        <td>@Model.DataInc</td>
                    </tr>
                    <tr>
                        <td width="15%" align="right">Modificado por: </td>
                        <td>@Model.ModPor.Nome</td>
                        <td width="15%" align="right">Modificado em: </td>
                        <td>@Model.DataMod</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-right">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="btn btn-primary"><i class="fa fa-fw fa-undo"></i> Cancelar</a>
            <button type="submit" class="btn btn-danger"><i class="fa fa-fw fa-save"></i> Excluir</button>
        </form>
    </div>
</div>