@model IEnumerable<Administrativo.Models.Pergunta>

@{
    ViewData["Title"] = "Perguntas";
}



<h2>Perguntas</h2>

<div class="card mb-3">
    <div class="card-header">
        <a asp-action="Create" class="btn btn-primary"><i class="fa fa-fw fa-file"></i> Novo</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="10%"></th>
                        <th>Pergunta</th>
                        <th width="15%">Nº de respostas</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-fw fa-edit"></i></a> |
                                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-fw fa-envelope-open"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-fw fa-remove"></i></a>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                            <td>@Html.DisplayFor(modelItem => item.Respostas.Count())</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>